<div id="topbar" class="transparent">
  <div id="leftbutton"><%= link_to 'キャンセル', memos_path %></div> 
  <div id="title">地図メモ</div>
</div>

<%= render 'form' %>

<%= javascript_include_tag "gears_init.js" %>
<script>
  if(navigator.geolocation){
    // iphone, android 2.x
    var geo = navigator.geolocation;
  }
  else{
    // android 1.6
    var geo = google.gears.factory.create("beta.geolocation");
  }

  var watchId = geo.watchPosition(function(pos){ 
    $("memo_lat").value = pos.latitude  || pos.coords.latitude; 
    $("memo_lon").value = pos.longitude || pos.coords.longitude; 
    geo.clearWatch(watchId); 
  }); 
</script>
